<!DOCTYPE html>
<html>
  

<head>
 
<link rel="stylesheet" href="./css/home_page.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css" />

    <title>terminal for everyone</title>
    



    <link rel="shortcut icon" href="./public/assets/terminal-icon-0.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/css.css">
   
    
    

</head>

<body>
  
  <header id="body-header">
    <nav>

        <ul class="horizontal-list text-center nav-menu">
            <li>
                <a href="#"> Home </a>
            </li>
            <li>
                <a href="#about"> About </a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>

    </nav>

    <div id="name-social-container">
        <div class="text-center">
            <h1 id="my-name">Hi there! CENTRALIZED KYC for Everyone</h1>
          
            
            <input type = "button" onclick="window.location.href='./temp.html';" value = "Click me!" />
        </div>
        <div>
            <ul class="horizontal-list text-center social-icons">
                <li>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-quora"></i>
                    </a>
                </li>
            </ul>

        </div>

    </div>

</header>
<main>

    <section id="about">
        <!-- <div id="my-image">
            <img src="https://macreports.com/wp-content/uploads/2019/05/terminal-app-icon.png">
        </div> -->

        <div id="about-para">
            <h2>What is KYC:-</h2>

            <p>
                KYC stands for "Know Your Customer." It is a process that businesses and organizations use to verify the identity of their clients or customers. The main purpose of KYC is to help prevent financial crimes, such as money laundering, terrorist financing, and identity theft. KYC procedures have become increasingly important in recent years as governments and regulatory bodies around the world have introduced stricter laws and regulations to combat financial crimes.

                The KYC process typically involves collecting personal information from the customer, such as name, address, date of birth, and government-issued identification documents. This information is used to confirm the customer's identity and to assess any potential risks associated with doing business with them. For example, if a customer's identification documents are not authentic or if they have a history of engaging in suspicious financial activity, this could be a red flag for the organization and prompt further investigation.
                
                KYC is used by a wide range of organizations, including banks, insurance companies, investment firms, and money transfer services. In many cases, KYC is a legal requirement for these organizations to comply with anti-money laundering (AML) and counter-terrorist financing (CTF) laws and regulations.
                
                Overall, KYC is an important tool for businesses and organizations to ensure that they are not unwittingly facilitating financial crimes. By verifying the identity of their customers and assessing the risks associated with doing business with them, organizations can help to protect themselves and their customers from financial crime.            </p>

        </div>

    </section>


    <section id="contact">
        <h1 class="section-heading mb50px">
            <span>
                <i class="far fa-address-card"></i>
            </span>
            <span> Contact </span>
        </h1>
        <div id="contact-container">

            <div id="contact-form-container">
                <form id="contact-form">
                    <input id="input-name" name="name" type="text" placeholder="Your Name">
                    <input id="input-email" name="input-email" type="text" required placeholder="Your Email">
                    <textarea id="input-message" name="input-message" rows="2" cols=40 placeholder="Message"></textarea>
                    <button class="sub-btn" type="submit">SEND MESSAGE</button>
                </form>
            </div>
            <div id="my-details-container">

                <h3> Get In touch </h3>
                <p> Hi , I am Web Terminal </p>

                <h3> My Address </h3>
                <div class="my-details-info-container">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>India</span>
                </div>
                <div class="my-details-info-container">
                    <i class="fas fa-mobile-alt"></i>
                    <span>5512115</span>
                </div>
                <div class="my-details-info-container">
                    <i class="far fa-envelope"></i>
                    <span>myemail@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="text-center social-icons">

            <ul class="horizontal-list">

                <li>
                    <a href="https://www.linkedin.com/in/manisha-khattar-b5663641/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>

                <li>
                    <a href="https://stackoverflow.com/users/5608414/manisha?tab=profile" target="_blank">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                </li>

                <li>
                    <a href="https://plus.google.com/u/0/103030702784925512939" target="_blank">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.facebook.com/manishakhattar54">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.quora.com/profile/Manisha-Khattar" target="_blank">
                        <i class="fab fa-quora"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

</main>

  
  
<!-- <script src="javascript.js" defer /></script> -->

</body>

</html>
<!-- <link rel="stylesheet" href="/css/home.css">
<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <%for(post of posts) {%>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(user of all_users) { %>
            <p>
                <a href="users/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
    </section>
</div> -->
